@import url('https://fonts.googleapis.com/css2?family=Anta&family=Kode+Mono:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Anta';
    font-weight: 400;
}
body {
    background-color: rgb(208, 245, 249);
    color: rgb(15, 24, 78);
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: rgb(194, 243, 250);
    flex-wrap: wrap;
    /* width: 100%; */
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.sidebar{
    height: 100vh;
    width: 80vw;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 45879;
    background-color: #00808048;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
}
.sidebar .logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}
.sidebar li{
    width: 100%;
    margin-bottom: 20px;
    padding: 0 7vw;
    font-size: 12px;
}
.sidebar a{
    width: 100%;
}
.sidebar .logo img{
    width: 60%;
    padding-left: 5px;
    /* min-width: 55px; */
}
.navbar ul li{
    list-style: none;
    margin: 0 25px;
}
.menu-button{
    display: none;
}
.right a:hover{
    padding: 8px 18px;
    border-radius: 8px;
    background-color: rgb(163, 237, 249);
    transition: all 0.17s ease-out allow-discrete;
}
a{
    text-decoration: none;
    color: rgb(15, 24, 78);
}
.left {
    font-size: 2rem;
}
.right{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.leftsection{
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px 0 0;
    /* width: 40%; */
}
.texts{
    writing-mode: horizontal-tb;
}
.rightsection{
    display: flex;
    justify-content: space-around;
    background-image: url(asset\ 34.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    /* width: 40%; */
}
.rightsection img{
    width: 420px;
    min-width: 35%;
}
.resume{
    border: 1px solid rgb(0, 52, 60);
    border-radius: 8px;
    padding: 8px 16px;
    background-color: rgb(163, 237, 249);
}
.first{
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    flex-wrap: wrap;
}
.blink{
    display: flex;
    flex-wrap: wrap;
}
#element{
    color: rgb(250, 26, 89);
}

hr{
    border: 0;
    background: rgb(179, 228, 235);
    height: 3px;
    margin: 15px 70px;
}
.second{
    max-width: 80vw;
    margin: auto;
    height: 60vh;
}
.second h1{
    font-size: 1.7rem ;
    padding-bottom: 20px;
}
.second .box-line{
    background: rgb(15, 24, 78);
    width: 80vw;
    height: 3px;
    margin: 35px 0 20px 0;
    display: flex;
    justify-content: space-around;
}
.second .verticle-line{
    height: 93px;
    width: 3px;
    background-color: rgb(15, 24, 78);

}
.image-top{
    width: 42px;
    position: relative;
    top: -44px;
    left: -13px;
}
.ver-title{
    font-weight: 700;
    position: relative;
    font-size: 18px;
    top: 60px;
    left: -43px;
    width: 130px;
}
.ver-desc{
    position: relative;
    top: 65px;
    width: 160px;
    left: -45px;
    font-size: 10px;
}
footer{
    background-color: rgb(95, 102, 142);
    height: 80px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.foot-left h2{
    font-weight: 400;
    font-family: 'kode+Mono';
}
.foot-right{
    display: flex;
    justify-content: space-around ;
    align-items: center;
    width: 20vw;
}
@media (width <=920px) {
    .second {
        height: 75vh;
    }
    .one, .two{
            height: 220px !important;
    }
    .one .ver-title, .two .ver-title{
        top: 170px !important;
    }
    .one .ver-desc, .two .ver-desc{
        top: 170px !important;
    }
    .ver-desc{
        width: 90px;
    left: -55px;
    }
}
@media (width<=620px){
    .rightsection img{
        width: 35vw;
    }
    .navbar{
        height: 140px !important;
    }
}
@media (width<=470px){
    .ver-title{
        width: 100px !important;
        left: -55px;
    }
    .second {
        height: 87vh;
    }
    .one, .two{
            height: 240px !important;
    }
    .one .ver-title, .two .ver-title{
        top: 195px !important;
    }
    .one .ver-desc, .two .ver-desc{
        top: 195px !important;
    }
    .ver-desc{
        width: 90px;
    left: -55px;
    }
}
/* <------side bar ------> */
@media( max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
    .aboutus-i{
        flex-direction: column;
    }
    .right img{
        width: 50vw;
        margin: 25px 0;
    }
}
@media( max-width: 360px){
    .sidebar{
        width: 100%;
    }
    .sidebar .logo{
        gap: 25px;
    }
}